@import '../variables';

.content {
  min-height: 500px;
}

.loader {
  left: 50%;
  margin-left: - $app-loader-height / 2;
  margin-top: $app-loader-padding;
  position: absolute;
  width: $app-loader-width;
}

// .loader

.product-container {
  padding-top: $product-container-padding;

  .product-preview {
    margin-top: $product-margin;
    width: 300px;
  }

  .product-title {
    text-align: center;
  }
}

.product-details {
  padding-top: $product-container-padding;

  .product-img {
    margin: 0 auto;
  }

  .col {
    margin-bottom: $product-margin;
  }

  button {
    margin-top: $button-margin;
  }

  h4 {
    margin-bottom: 0;
  }
  .tips {
    font-size: small;
  }

  .review {
    background-color: $gray;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1.5rem;
    overflow-wrap: break-word;

    .review-date {
      float: right;
    }

    &.white {
      background-color: white;
      border: 1px solid $gray;
    }
  }
  .star {
    color: $star-color;
  }

  .rating-wrap {
    display: inline-block;
  }

  .rating-wrap:after {
    content: "";
    display: table;
    clear: both;
  }

  .rating-input {
    display: none;
  }
  .rating-ico {
    @extend .star;
    float: right;
    cursor: pointer;
  }

  .rating-ico:hover:before,
  .rating-ico:hover ~ .rating-ico:before,
  .rating-input:checked ~ .rating-ico:before {
    content: "\f005";
  }

}

.info-message {
  border: 1px solid $gray;
  min-height: $info-message-height;
  line-height: $info-message-height;
  overflow-wrap: break-word;
}

.error-container {
  margin-top: $info-message-height / 2;
  min-height: $info-message-height;

  .error {
    @extend .info-message;
  }
}

.signed-up-message {
  @extend .info-message;
  color: $green;
  margin-top: $div-padding;
}

