@import 'variables';

img {
  display: block;
  max-width: 100%;
}

a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
}

.clear {
  clear: both;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  user-select: none;

  &::selection {
    background: transparent;
  }
}

.max-width-640 {
  max-width: 640px;
}

.btn {
  border-radius: $button-border-radius;
  cursor: pointer;
}

.btn-center {
  display: block;
  margin: 0 auto;
}

.form-control {
  border-radius: $custom-border-radius;
  line-height: 1.5;
}

