@import 'variables';

body {
  background-color: $app-main-color;
}

img {
  display: block;
  max-width: 100%;
}

a {
  &:hover,
  &:focus {
    cursor: pointer;
    text-decoration: none;
  }
}


.clear {
  clear: both;
}

.noselect {
  cursor: default;
  user-select: none;

  &::selection {
    background: transparent;
  }
}

.max-width-640 {
  max-width: 640px;
}

.btn {
  cursor: pointer;
}

.btn-center {
  display: block;
  margin: 0 auto;
}

.form-control {
  line-height: 1.5;
}

.loader {
  left: 50%;
  margin-left: - $app-loader-height / 2;
  margin-top: $app-loader-padding;
  position: absolute;
  width: $app-loader-width;
}

.content {
  min-height: 500px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
