// colors
$main-color: #eef7ff;
$secondary-color: #ccdff0;

// base
$custom-border-radius: 2px;
$basic-margin: 15px;

// inputs
$search-input-max-width: 350px;

//buttons
$search-button-width: 50px;
$search-button-height: 40px;

//tracks
$tracks-min-height: 140px;

// loaders
$app-loader-height: 120px;
$app-loader-padding: 120px;
$app-loader-width: 120px;

